body {
  background-color: rgb(128, 159, 190);
}

body, html {
  min-width: 1100px;
  background-color: #292a2b;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px 0 15px;
  width: 100%;
  height: 50px;
}
header .one {
  width: 78px;
  height: 51px;
  line-height: 51px;
}
header .one img {
  width: 78px;
  height: 21px;
  opacity: 0.3;
}
header .two {
  position: relative;
  width: 124px;
  height: 50px;
  line-height: 50px;
}
header .two #qq {
  position: absolute;
  top: 30px;
  left: 17px;
  width: 12px;
  height: 12px;
}
header .two img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.content {
  width: 100%;
  height: 529px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content .rongqi {
  width: 1300px;
  height: 529px;
  padding: 0 50px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content .rongqi .left {
  width: 800px;
  height: 529px;
}
.content .rongqi .left .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  height: 40px;
}
.content .rongqi .left .nav ul {
  width: 800px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content .rongqi .left .nav ul li {
  width: 122px;
  height: 38px;
  opacity: 0.8;
  margin: 0 8px 0 0;
  cursor: pointer;
  border: 1px solid #c9c9c9;
  border-color: hsla(0deg, 0%, 100%, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .rongqi .left .nav ul li .xi {
  width: 16px;
  height: 16px;
  font-style: normal;
  margin-right: 5px;
}
.content .rongqi .left .nav ul li a {
  color: #fff;
}
.content .rongqi .left .nav ul li:hover {
  border: 1px solid #fff;
}
.content .rongqi .left .gequ {
  width: 800px;
  height: 50px;
  margin-top: 30px;
}
.content .rongqi .left .gequ ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .rongqi .left .gequ ul .lier {
  width: 473px;
  height: 50px;
  color: rgba(225, 225, 225, 0.8);
}
.content .rongqi .left .gequ ul .lisan {
  width: 181px;
  height: 50px;
  color: rgba(225, 225, 225, 0.8);
}
.content .rongqi .left .gequ ul .lisi {
  width: 50px;
  height: 50px;
  color: rgba(225, 225, 225, 0.8);
}
.content .rongqi .left .mingzi {
  width: 800px;
  height: 50px;
  margin-top: 20px;
}
.content .rongqi .left .mingzi ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .rongqi .left .mingzi ul .names {
  width: 473px;
  height: 50px;
  color: rgba(225, 225, 225, 0.8);
  position: relative;
}
.content .rongqi .left .mingzi ul .names .dingwei {
  position: absolute;
  top: -8px;
  left: 345px;
}
.content .rongqi .left .mingzi ul .names .dingwei .i1 {
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 16px;
}
.content .rongqi .left .mingzi ul .geshou {
  width: 181px;
  height: 50px;
  color: rgba(225, 225, 225, 0.8);
}
.content .rongqi .left .mingzi ul .timer {
  width: 50px;
  height: 50px;
  color: rgba(225, 225, 225, 0.8);
}
.content .rongqi .right {
  width: 340px;
  height: 529px;
  margin-left: 30px;
}
.content .rongqi .right .xiangce {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content .rongqi .right .xiangce img {
  width: 201px;
  height: 180px;
}
.content .rongqi .right .jieshao {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
.content .rongqi .right .jieshao ul {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content .rongqi .right .jieshao ul li {
  width: 340px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(225, 225, 225, 0.8);
}

footer {
  position: fixed;
  bottom: 1px;
  width: 100%;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .ft {
  width: 1300px;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
footer .ft .zou {
  width: 200px;
  height: 82px;
  margin-top: 5px;
}
footer .ft .zhongjian {
  width: 645px;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .ft .zhongjian .shang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 645px;
}
footer .ft .zhongjian .xia {
  margin-top: -20px;
}
footer .ft .you {
  margin-top: 5px;
  margin-left: 20px;
  width: 430px;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer .ft .you .chunjing {
  width: 74px;
  height: 26px;
  border: 3px solid #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .ft .you .chunjing i {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #ccc;
  text-align: center;
  line-height: 20px;
}/*# sourceMappingURL=css.css.map */